@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto" , Arial;
    margin: 0;
}

ul,
.text {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
} 

.header {
    display: flex;
    justify-content: space-around;
    gap: 800px;
    align-items: flex-start;
    background-color: #1F2937;
}

.title-three {
    font-size: 38px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 20px;
}

.head {
    font-weight: 900;
    font-size: 58px;
    color: #f9faf8;
    margin: 0;
}
.upper-content {
    background-color: #1F2937;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.left-side {
    display: flex;

}

.image-1 {
    max-width: 700px;
    max-height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex: 1;
    border: 4px solid hwb(206 10% 13% / 0.549);
    border-radius: 15px;
}

.right-side {
    display: flex;
    max-width: 900px;
    max-height: 200px; 
    gap: 0;
    flex-direction: column;
}

button,
footer{
    background-color: #3882f6;
    color: #e5e7eb
}

.text {
    margin: 0;
    margin-bottom: 20px;
}

.butt {
    border: 1px #3882f6;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700;
    max-width: 100px;
    
}

.information {
    margin: 50px 0px 200px 0px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 48px;
    font-weight: 900;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    gap: 50px;
}

.info {
text-align: center;

}

.imag{
    max-width:300px ;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    border: 4px solid  rgba(10, 94, 229, 0.625);
    border-radius: 15px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.wise-words{
    font-size: 70px;
    font-weight: 900;
    color: #1F2937;
    align-self: center;
    font-style: italic;
    margin-bottom: 40px;
}

.kapoios{
    align-self: flex-end;
    margin-right: 500px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 20px;
}

.imag:hover{
    opacity: .5;
}

.title-three:hover,
a:hover{
    opacity: .5;
}

.image-1:hover{
    background-color: rgb(255, 255, 255);
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background-color: #3882f6;
    padding: 50px 10px 50px 40px;
    max-width: 900px;
    border-radius:8px;
    margin-left: 750px;
    margin-right: 750px;
    gap: 100px;
}

.words{
    margin-right: 50px;
    color: #e5e7eb;
    font-size: larger;
}

.title-two{
    font-weight: 600; 
}

.sign{
    background-color: #3882f6;
    border: #e5e7eb 2px solid;
    padding: 4px 20px 5px 20px;
    border-radius: 5px;
    font-weight: 700;
    max-width: 100px;
}

